<div class="row">
  <h1 class="w3-bar-item text-center">Stats by Team</h1><br/>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/HUL"><h4>Hull City</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/ARS"><h4>Arsenal</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/LIV"><h4>Liverpool</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/LEI" ><h4>Leicester City</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/EVE"><h4>Everton</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/CRY"><h4>Crystal Palace</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/CHE"><h4>Chelsea</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/BUR"><h4>Burnley</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/BOU"><h4>Bournemouth</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/AVL"><h4>Aston Villa</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/MCI"><h4>Manchester City</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/MFC"><h4>Middlesbrough</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/MUN"><h4>Manchester United</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/NEW"><h4>Newcastle United</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/NOR"><h4>Norwich</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/SOU"><h4>Southampton</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/STK"><h4>Stoke City</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/SUN"><h4>Sunderland</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
        <a ng-href="#/teams/SWA"><h4>Swansea</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/TOT"><h4>Tottenham Hotspur</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/WAT"><h4>Watford</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/WBA"><h4>West Bromwich Albion</h4></a>
    </div>
    <div class=" col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center ">
        <a ng-href="#/teams/WHU"><h4>West Ham United</h4></a>
    </div>
</div>
